<html>

  <% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p> Nous n avons pas pu mettre a jour ce potin pour les raisons suivantes :  </p>
        <ul>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modifie ce potin! </h1>
    <p class="lead">Tu peux modifier le titre et le contenu si tu le souhaites</p>
  </div>
</div>

<!-- Comme dans le premier formulaire_tag du view new.html.erb on renseigne cependant differement l action et la methode put ou patch qui sert a updater le formulaire cette fois ci-->
<%= form_tag url_for(action: 'update'), method: "put" do %>

  <%= label_tag 'Titre du potin : ' %>
  <%= text_field_tag 'title', @gossip.title %>
  <br /> <br />

  <%= label_tag 'Contenu du potin : ' %>
  <%= text_area_tag 'content', @gossip.content %>
  <br /> <br />

  <%= submit_tag "Modifier Gossip" %>

<% end %>