<html>
<!-- On met le flash ici pour que dans la view qui affiche les gossips puisse s executer les codes flash du controller gossips-->
<% flash.each do |key, value| %>
  <div class="alert alert-success" role="alert">
    <%= value %>
  </div>
<% end %>
<body>
  <h1> --- WELCOME MOUSSAILLON --- </h1>
  <% if session[:user_id]%> 
  <h1> BIENVENUE A BORD DU GOSSIP PROJECT <%= current_user.first_name %>  </h1>
   <%end%>

  <!-- ici on cree le bouton qui clique va nous amener au formulaire, on aurait pu mettre new_gossip_path avec les sigles -->
   <%= button_to "Je cree un nouveau potin", "gossips/new", :id => "open-contacts-dialog-btn", :class => "btn btn-primary btn-lg", :method => :get %>

  

  <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around; padding-top: 120px">
    <% @gossips.each do |gossip| %>
      <div class="card text-white bg-secondary mb-3" style="width: 30rem;">
        <div class="card-header"> Auteur : <%= User.find(gossip.user_id).first_name %>  <%= User.find(gossip.user_id).last_name %> </div>
        <div class="card-body">
          <h5 class="card-title">Titre du gossip : <%= gossip.title %></h5>
               <%= link_to 'Voir', gossip_path(:id => gossip.id), class: 'btn btn-secondary bg-info' %>
          <div class="card-footer"> </div>
        </div>
      </div>
    <% end %>
  </div>

</body>
</html>